<div align='center'>
  <ejs-chart style='display:block;' [chartArea]='chartArea' [width]='width' align='center' id='chartcontainer' 
      [primaryXAxis]='primaryXAxis' [primaryYAxis]='primaryYAxis' [title]='title' [tooltip]='tooltip' (load)='load($event)'
      (pointRender)='pointRender($event)'>
      <e-series-collection>
          <e-series [dataSource]='data' type='Column' xName='ProductName' yName='Width' name='Product' [marker]='marker'> </e-series>
          <e-series [dataSource]='data' type='Column' xName='ProductName' yName='Height' name='Exports' [marker]='marker'> </e-series>
      </e-series-collection>
  </ejs-chart>
</div>