<div class="App">
  <header class="App-header">
    <img width="300" class="App-logo" alt="Angular Logo" [src]="logoUrl">
    <h1 class="App-title">Welcome to {{ title }}!</h1>
  </header>
  <div class="App-intro">
    <div class="Login-Form">
      <form (ngSubmit)="addAccount(userForm)" #userForm="ngForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" required [(ngModel)]="account.username" name="name" #name="ngModel" #spy>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" [(ngModel)]="account.password" name="password">
        </div>

        <app-captch [captchImage]="captchImage" *ngIf="captchImage" (position)="captchPosition($event)"></app-captch>

        <button type="submit" class="btn btn-success" >Submit</button>

      </form>
    </div>
    <h2>Account List</h2>
    <account-list [accounts]="accounts"></account-list>
  </div>
</div>